body {
    font-family: "Roboto", "Helvetica", sans-serif;
}

.header-search {
    margin-top: 4px;
}

.intro-card {
    width: 100%;
    text-align: center;
}

.intro-card .mdl-card__title h2 {
    margin-right: auto;
    margin-left: auto;
}

.content-grid {
    max-width: 1200px;
}

.title-service {
    text-align: center;
}

.title-service h2 {
    font-weight: lighter
}

.service-card {
    width: 100%;
}


/*
.type-work-cards:first-of-type .type-work .mdl-card__supporting-text{
    background-image: url(../images/corporate-law.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    background-position: center
}*/

.service-card {
    width: 100%;
}

.type-work {
    width: 100%;
    text-align: center;
    height: 250px;
}

.type-work h2 {
    margin-left: auto;
    margin-right: auto;
}

.type-work img {
    width: 50%;
    height: 140px;
    margin-bottom: 15px;
}

.type-work .mdl-card__media {
    background-color: transparent;
}

.contacts-footer li a i {
    margin-top: 8px;
    margin-right: 8px;
    color: #fff;
    display: block;
    float: left;
    clear: left;
    transition: 0.4s
}

.contacts-footer li a span {
    display: block;
    float: left;
    margin-top: 11px;
}

.contacts-footer li:hover i {
    color: #9E9E9E;
    animation: drag linear 0.6s
}

@keyframes drag {
    0%,
    100% {
        transform: rotate(0deg)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(5deg)
    }
    20%,
    40%,
    60%,
    80% {
        transform: rotate(-5deg)
    }
}

.social-footer li {
    display: inline-block;
    margin-top: 8px;
}

.social-footer li:not(:first-child) {
    margin-left: 25px;
}

.social-footer li i {
    transition: 0.3s
}

.social-footer li i:hover {
    color: #FFF;
    transform: scale(1.1)
}

h2.confidence-title {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.confidence ul {
    list-style: none;
    text-align: center;
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.main-form {
    text-align: center;
}

.main-form button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}